body {
    margin: 0;
    padding: 0;
}

header {
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #333333;
    color: #e7e7e7;
}

a {
    font-family: Helvetica;
    font-size: 20px;
}

div.card {
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

div.header {
    background-color: gray;
    color: white;
    padding: 10px;
    font-size: 40px;
}

div.container {
    color: black;
    font-family: "Helvetica";
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: #777777;
}

#picture {
    position: relative;
    text-align: center;
    padding: 0px;
    box-shadow: none;
    margin: auto;
    padding: 0;
    font-family: "Helvetica";
    color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
}

.middle-links {
    position: relative;
    top: 82%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    text-align: center;
}

container {
    padding: 10px;
}

body {
    background: #e7e7e7;
}

table {
    border-collapse: collapse;
}

td {
    padding-top: .5em;
    padding-bottom: .5em;
    padding-right: .5em;
}

a.btn {
    background-color: transparent;
    text-transform: uppercase;
    border-color: white;
    color: white;
}

a.btn-default {
    background-color: transparent;
    border-color: white;
}

a.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open>.dropdown-toggle.btn-default {
    background-color: #333333;
    border-color: white;
}

#name {
    position: absolute;
}


p.paragraph {
    font-size: 20px;
    font-family: Helvetica;
}




