div.container-fluid {
    position: relative;
    color: black;
    font-family: 'Abel';
    background: #FFFFFF;
}

#picture {
    position: relative;
    text-align: center;
    padding-left: 0px;
    padding-right: 0px;
    color: black;
}

.middle {
    position: relative;
    top: 28%;
    text-align: center;
    margin: auto;
    font-size: 60px;
    border: 3px solid #73AD21;
}

.middle-links {
    position: relative;
    top: 82%;
    transform: translate(-50%, -50%);
    text-align: center;
}

body {
    background: #e7e7e7;
}

table {
    border-collapse: collapse;
}

td {
    padding-top: .5em;
    padding-right: .5em;
}

a.btn-default-japan {
    background-color: #c1203e;
}

a.btn-default-alaska {
    background-color: gray;
}

a.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open>.dropdown-toggle.btn-default {
    background-color: #333333;
}

a.btn-default-japan:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open>.dropdown-toggle.btn-default {
    background-color: black;
}

a.btn-default-alaska:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open>.dropdown-toggle.btn-default {
    background-color: #4b525e;
}

a.btn-default-utah:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open>.dropdown-toggle.btn-default {
    background-color: #8c3313;
}

#name {
    position: absolute;
}


p.paragraph {
    font-size: 1em;
    font-family: 'Abel';
}

div.title {
    font-size: 2em;
    font-family: 'Abel';
    align: center;
}

/*Based on example from https://www.w3schools.com/css/css_navbar.asp*/

ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background: rgba(0, 0, 0, .5);
    position: fixed;
    width: 100%;
    top: 0;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Abel';
    white-space: nowrap;
    height: auto;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
    text-decoration: none;
    color: blue;
}

li a:link {
    color: white;
}

li img.headerPictures {
    height: 20px;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 50px;
}

@media only screen and (max-width: 600px) {
    div.center {
        padding-top: 80px;
    }

    li a {
        height: 30px;
        padding-top: 10px;
        font-size: 60%;
    }

    li img.headerPictures {
        height: 10px;
    }
}

