body {
    margin: 0;
    padding: 0;
}

header {
    padding: 10px;
    background-color: #333333;
    color: #e7e7e7;
}

a {
    font-family: Helvetica;
    font-size: 20px;
}

div.card {
    width: 250px;
    text-align: center;
}

div.header {
    background-color: gray;
    color: white;
    padding: 10px;
    font-size: 40px;
}

div.container-fluid {
    color: black;
    font-family: 'Abel';
    background: #777777;
}

#picture {
    position: relative;
    text-align: center;
    padding: 0px;
    margin: auto;
    padding: 0;
    font-family: 'Abel';
    color: black;
}

.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
}

.middle-links {
    position: relative;
    top: 82%;
    transform: translate(-50%, -50%);
    text-align: center;
}

container {
    padding: 10px;
}

body {
    background: #e7e7e7;
}

table {
    border-collapse: collapse;
}

td {
    padding-top: .5em;
    padding-bottom: .5em;
    padding-right: .5em;
}

a.btn {
    background-color: transparent;
    text-transform: uppercase;
    border-color: white;
    color: white;
}

a.btn-default {
    background-color: transparent;
    border-color: white;
}

a.btn-default-japan {
    background-color: #c1203e;
    border-color: white;
}

a.btn-default-alaska {
    background-color: #f2f2f2;
    border-color: white;
    color: black;
}

a.btn-default-utah {
    background-color: #b6571d;
    border-color: white;
    color: white;
}

a.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open>.dropdown-toggle.btn-default {
    background-color: #333333;
    border-color: white;
}

a.btn-default-japan:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open>.dropdown-toggle.btn-default {
    background-color: black;
    border-color: white;
}

a.btn-default-alaska:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open>.dropdown-toggle.btn-default {
    background-color: #4b525e;
    border-color: white;
}

a.btn-default-utah:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open>.dropdown-toggle.btn-default {
    background-color: #8c3313;
    border-color: white;
}

#name {
    position: absolute;
}


p.paragraph {
    font-size: 20px;
    font-family: 'Abel';
}

div.title {
    font-size: 40px;
    font-family: 'Abel';
    align: center;
}




